@using System.Diagnostics.Eventing.Reader
@* @model FamilyAlbum.Models.Image *@
@model List<Image>
<script src="/js/image.js"></script>
@{
    ViewData[index: "Title"] = "Album";
}

<div class="text-center">
    <h1 class="display-4">Bilder</h1>
    
</div>
<div class="full-page">

    <div class="user-container">
        <ul class="user-list">
            <li>Name1</li>
            <li>Name2</li>
            <li>Name3</li>
            <li>name4</li>
            <li>name5</li>
        </ul>
</div>
<div class="all-container">

<div class="content-container first-image gallery">
    <div class="stack">
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
</div>
</div>

<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <span class="span-prev" id="span-prev">&#129136;</span>
    <img class="modal-content" id="modalImg" />
    <span id="image-no" class="image-no"></span>
    <span class="span-next" id="span-next">&#129138;</span>
</div>

<div class="content-container first-image gallery">
    <div class="stack">
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
</div>
</div>

<div class="content-container first-image gallery">
    <div class="stack">
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
</div>
</div>

<div class="content-container first-image gallery">
    <div class="stack">
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
</div>
</div>

<div class="content-container first-image gallery">
    <div class="stack">
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/1.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
    <img src="@Url.Content("/images/2.jpg")" />
    <img src="@Url.Content("/images/3.jpg")" />
</div>
</div>


    </div>
</div>
<div class="bottom-page">
    end

</div>